@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100&family=ZCOOL+KuaiLe&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
		overflow: hidden;
}

html{
	overflow-y: scroll;
	scroll-behavior: smooth;
}

#logo{
	font-size: 15vh;
background-clip:text;
background-image: url('j-flag.jpg');
background-size:contain;
-webkit-background-clip: text;
color: transparent;
transition: all 700ms ease 0s; 
	position: absolute;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 500;
	letter-spacing: 1.5px;
	font-style: italic;
	top:150px;
	left: 30px;
	padding: 40px;
	font-family: 'ZCOOL KuaiLe';
	text-shadow:5px 5px 2px rgba(0, 0, 0, 0.61);
}

.heading{
    display: flex;
    flex-direction: column;
}
nav li{
margin: 25px 20px;
}

li:hover{
	background-color: rgba(0, 0, 0, 0.466);
}

li:hover a{
	transition: all 500ms ease 50ms;
	color: transparent;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.466),
	             3px 3px 4px rgba(0, 0, 0, 0.466);
	margin-left: 120px;
	font-size: 10vh;
	padding: 20px 0px;
}


.clip-text a{
	font-size: 5vh;
	padding: 10px;
	background-clip:text;
	background-image: url('j-flag.jpg');
	background-size:contain;
	-webkit-background-clip: text;
	color: rgba(88, 87, 87, 0.514);
	transition: all 700ms ease 300ms;
	text-decoration: none;
}


.backdrop{
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	height: 100vh;
	width: 100%;
	transition: all 800ms ease 0s;
}

.overlay{
	background-color: rgba(128, 128, 128, 0.315);
	height: 100vh;
	width: 100%;
	overflow: hidden;
  position: sticky;
}

.half{
	width: 50%;
	padding: 10px;
	transition: all 500ms ease 0ms;
	z-index: 1;
	position: absolute;
}

.right{
	right:0px;
}


.txt-container{
	min-width: 50%; 
	margin:5%; 
	background-color: lightblue; 
	min-height: 90%;
	background-image: linear-gradient(-216deg, rgba(0, 0, 0, 0.5), rgba(0, 128, 0, 0.61), rgba(0, 0, 0, 0.61), rgba(255, 217, 0, 0.712));
	filter: blur(2px);
	position: relative;
	border-radius: 5px;
	z-index: -1;
	cursor: pointer;
	transition: all 300ms ease 0s;
}

.head{
	position:absolute;
	top: 60px;
	left: 60px;
	padding: 10px;
	border-width: 5px;
		border-style: solid;
		border-image: 
			linear-gradient(
				to bottom, 
				green,
				black,
				yellow, 
				rgba(0, 0, 0, 0)
			) 1 100%;;
	width: 82%;
	text-align: center;
	font-family: 'ZCOOL KuaiLe';
	}
	
	.text{
	 padding: 60px;
	 width: 90%;
	 position:absolute;
	 top: 130px;
	 left: 50px;
	 word-wrap: break-word;
	 z-index: 2;
	 color: white;
	 font-family: 'Gluten', cursive;
	 font-weight: bold;
	 font-size: 3.25vh;
	 font-weight: bold;
	 transition: transform 500ms ease 10ms;
	 line-height: 34px;
	
	}

	/*Hover Section*/
.half:hover{
  box-shadow: 10px 10px 12px rgb(48, 47, 47);
	border-radius: 10px;
	width: 60%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 600ms ease 80ms;
}

 .right:hover{
	box-shadow: -10px 0px 12px rgb(48, 47, 47);
	border-radius: 10px;
	width: 60%;
	transition: all 200ms ease 10ms;
	transition: background-color 600ms ease 80ms;
}

.half:hover .txt-container{
	filter: blur(0px);
	transform: rotate(-13deg);
	transition: all 300ms ease 0s;
}

.half:hover .text{
	transform: rotate(0deg);
	text-shadow: 1px 1px 1px black,
	2px 2px 2px green,
	2px 2px 2.5px yellow,
	2.5px 2.5px 0px black;

	transform: scale(1.01);
}

 .backdrop:hover{
	transform: scale(1.01);
	transition: transform 300ms ease-in 20ms;
}

/*Images*/
.img-cover-1{
	height: 100vh;
	width: 100%;
	background-image: url('beach.jpg');
}

.img-cover-2{
	height: 110vh;
	width: 100%;
	background-image: url('j-flag.jpg');
}


.img-cover-4{
	height: 110vh;
	width: 100%;
	background-image: url('geo.jpg');
}

.img-cover-5{
	height: 125vh;
	width: 100%;
	background-image: url('dunn.jpg');
}

.img-cover-6{
	height: 105vh;
	width: 100%;
	background-image: url('bungalo.jpg');
}

.img-cover-7{
	height: 130vh;
	width: 100%;
	background-image: url('people.jpg');
}

.img-cover-8{
	height: 110vh;
	width: 100%;
	float: right;
	padding-right: 100px ;
	background-image: url('doctor-bird.jpg');
}

.img-cover-9{
	height: 115vh;
	width: 100%;
	background-image: url('cities.jpg');
}

.img-cover-10{
	height: 130vh;
	width: 100%;
	background-image: url('bible.jpg');
}

.img-cover-11{
	height: 105vh;
	width: 100%;
	background-image: url('culture.jpg');
}

.img-cover-12{
	height: 105vh;
	width: 100%;
	background-image: url('bird.jpg');
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	margin: 0px ;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white; 
	border-radius: 10px;
	background-image: url('j-flag.jpg');
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.61);
	width: 5px;
	height: 1px;
	
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background:transparent; 
  }