* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-image: url('beach.jpg'); */
}


@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


body{
    /* background-color: rgb(15,15,15); */
    background-color: whitesmoke;
}

.banner {
   background-image: linear-gradient(-215deg, rgba(0, 0, 0, 0.753),rgba(0, 0, 0, 0.192), rgba(0,0,0,0),rgba(0, 0, 0, 0.562), 
    rgba(0, 0, 0, 0.384));
   height: 100vh;
   padding-top: 100px;
}

#logo{
    font-size: 14vh;
	background-clip:text;
	background-image: url('j-flag.jpg');
	background-size:contain;
	-webkit-background-clip: text;
	color: transparent;
	transition: all 700ms ease 0s; 
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-style: italic;
    top:0;
    left: 10px;
    font-family: 'Ephesis';

}

.sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px;
}


.sec-2 ul{
    position:fixed;
    bottom:0;
    display: flex;
    justify-content:space-between;
    padding: 10px 80px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(51, 51, 51, 0.137);
    transform: translateX(-0%);
}

.sec-2 li{
    display: inline-block;
    list-style: none;
}

.sec-2 a{
    text-decoration: none;
    color: transparent;
    background-clip:text;
	background-image: url('j-flag.jpg');
	background-size:contain;
	-webkit-background-clip: text;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
}

#btn-open{
    text-transform: rotateY(180deg);
    font-size: 5vh;
    outline: none;
    border: none;
    background-color: transparent;
    background-image: none;
    width: 50px;
    position: absolute;
    top: 45px;
    right: 50px;
    cursor: pointer;
}

.img-banner{
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 500px;
}

.img-1{
    background-image: url('beach.jpg');
}

.img-2{
    background-image: url('j-flag.jpg');
}


.text-container{
    padding: 0px;
    color: transparent;
    transition: all 400ms ease 20ms;
    padding: 30px;
}

.container{
 background-image:linear-gradient(60deg, rgba(135, 207, 235, 0.5), rgba(50, 205, 50, 0.5), rgba(255, 255, 0, 0.5));
 transition: all 400ms ease 0s;
 margin: 35px 10px;
 transform: scale(0.5);
 border: 20px solid rgba(51, 51, 51, 0.836);
 border-radius: 4px;
}


.container:hover{
    background-image:linear-gradient(60deg,rgba(255, 255, 0, 0.5),rgba(50, 205, 50, 0.5),rgba(135, 207, 235, 0.5));
    margin-bottom: 140px;
    transition: transform 350ms ease 0s;
    transition: margin-bottom 400ms;
    transform: scale(1);
}

.container:hover .text-container{
    color: black;
    transition: all 400ms ease 100ms;
}

.ifr-1{
    margin-top: 25px  ;
}
.ifr-2{
    margin-top: 25px  ;
}
.ifr-3{
    margin-top: 10px  ;
    margin-bottom: 20px;
}

.ifr-4{
    position: sticky;
    top: 25%;
    bottom: 50px;
    left:25%;
    right: 25%;
}

